head
  meta(charset='UTF-8')
body
  #chartContainer(style='height: 370px; max-width: 920px; margin: 0px auto;')
  script(src='/assets/vendor/canvasjs/canvasjs.min.js')
  script(src='/assets/js/employer-app-bundle.js')
  // script(src='/assets/js/employer-app.js')
  script.
    
